// White
$white-one: #fff;
$white-two: #FBFBFB;
$white-three: #F8F8F8;

// Black
$black-default: #282828;
$black-one: #000000;
$black-two: #525252;
$black-three: #202020;

// Gray
$gray-default: #A9A9A9;
$gray-one: #EEEEEE;
$gray-two: #F5F8FF;
$gray-three: #F5F5F5;
$gray-four: #808080;

$gray-five: #C9C9C9;
$gray-six: #F3F3F3;
$gray-seven: #dee2e6;

// Blue
$blue-one: #1F6CBE;
$blue-two: #2A5CF6;
$blue-three: #7191F4;
$blue-four: #5C71B2;

// White-rgba
$white-rgba-one: rgba(255, 255, 255, .3);
$white-rgba-two: rgba(255, 255, 255, .6);
$white-rgba-three: rgba(255, 255, 255, .7);

// Gray-rgba
$gray-rgba-one: rgba(204,214,228,.6);

// Black-rgba
$black-rgba-one: rgba(0, 0, 0, .2);
$black-rgba-two: rgba(0, 0, 0, .25);
$black-rgba-three: rgba(0, 0, 0, .08);
$black-rgba-four: rgba(40, 40, 40, 0.5);
$black-rgba-five: rgba(0, 0, 0, 0.4);

$black-rgba-six: rgba(0, 0, 0, .24);
$black-rgba-seven: rgba(0, 0, 0, .12);
$black-rgba-eight: rgba(0, 0, 0, .6);
$black-rgba-: rgba(0, 0, 0, .4);

// Blue-rgba
$blue-rgba-one: rgba(54, 88, 172, 0.4);
$blue-rgba-two: linear-gradient(79.06deg, $blue-two 17.67%, $blue-two 17.68%, $blue-three 143.49%);
$blue-rgba-three: linear-gradient(82.33deg, #9E0CAA 0.26%, #242AFF 47.35%, #23FBE1 111.53%);
$blue-rgba-four: linear-gradient(82.33deg, #9E0CAA 0.26%, #242AFF 47.35%, #23FBE1 111.53%), linear-gradient(44.66deg, #0634FD 1.68%, #00FCDE 48.63%, #EC34FE 93.57%);




