footer.footer(role='contentinfo')
	.footer__copyright
		.container
			.row.justify-content_center
				span.order-last
					| Copyright&nbsp;©&nbsp;
					script.
						let mdate = new Date();
						document.write(mdate.getFullYear());

include ../../templates/includes/footer-scripts

