header.header
	.container
		.row.row-cols-lg-2.justify-content_space-between.align-items-lg-center
			a.navbar-brand(href="#" title="Шахворостов Сергей" role="banner")
				img(src=`${wayImg}svs-logo.png` alt="Логотип")
				span Test task

			nav(role="navigation")
				ul
					li
						a.active(href="#" role="link") Home
						a(href="#" role="link") Link 1
						a(href="#" role="link") Link 2


