mixin new-year
  svg.new-year(width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M10.5 16L11 21M7 6L5 5L9 1L13 5L11 6L15 10L12 11L16.5 16H1.5L5.5 11L3 10L7 6ZM12.5 21H5.5H12.5ZM7.5 16L7 21L7.5 16Z" stroke="#525252" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

mixin products-for-cars
  svg.products-for-cars(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M18.772 6.156L17.404 2.051C17.2056 1.45348 16.8238 0.9337 16.3131 0.565508C15.8024 0.197316 15.1886 -0.000558206 14.559 1.18278e-06H5.441C4.81139 -0.000558206 4.19761 0.197316 3.68688 0.565508C3.17615 0.9337 2.79445 1.45348 2.596 2.051L1.228 6.156C0.864613 6.30848 0.554277 6.56476 0.335845 6.89277C0.117412 7.22077 0.000589089 7.60592 0 8V13C0 13.753 0.423 14.402 1.039 14.743C1.026 14.809 1 14.869 1 14.938V17C1 17.2652 1.10536 17.5196 1.29289 17.7071C1.48043 17.8946 1.73478 18 2 18H3C3.26522 18 3.51957 17.8946 3.70711 17.7071C3.89464 17.5196 4 17.2652 4 17V15H16V17C16 17.2652 16.1054 17.5196 16.2929 17.7071C16.4804 17.8946 16.7348 18 17 18H18C18.2652 18 18.5196 17.8946 18.7071 17.7071C18.8946 17.5196 19 17.2652 19 17V14.938C19 14.869 18.974 14.808 18.961 14.743C19.2744 14.5721 19.5362 14.3202 19.7189 14.0136C19.9017 13.707 19.9988 13.357 20 13V8C20 7.171 19.492 6.459 18.772 6.156ZM2 13V8H18L18.002 13H2ZM5.441 2H14.558C14.989 2 15.371 2.274 15.507 2.684L16.613 6H3.387L4.492 2.684C4.55835 2.4848 4.68572 2.31153 4.85605 2.18876C5.02638 2.06599 5.23104 1.99995 5.441 2Z" fill="#525252")

mixin sports-and-recreation
  svg.sports-and-recreation(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M10.9412 19.956C13.2589 19.7402 15.4278 18.7194 17.0712 17.071C20.9762 13.166 20.9762 6.83399 17.0712 2.92899C13.1662 -0.976006 6.83424 -0.976006 2.92924 2.92899C-0.975762 6.83399 -0.975762 13.166 2.92924 17.071C3.9303 18.0742 5.13364 18.8527 6.45912 19.3545C7.78459 19.8562 9.20176 20.0698 10.6162 19.981C10.7251 19.9968 10.8361 19.9882 10.9412 19.956ZM1.57724 8.85399C1.79108 7.26586 2.45172 5.77116 3.48224 4.54399L8.94024 9.99999L7.85224 11.088C6.80024 10.238 5.62824 9.77999 4.51124 9.47999C3.86124 9.30599 3.21524 9.17999 2.62424 9.06699L2.60824 9.06299C2.24124 8.99299 1.89824 8.92599 1.57824 8.85399H1.57724ZM1.50824 10.374C1.77424 10.43 2.04324 10.482 2.30824 10.534L2.32224 10.536C2.92524 10.653 3.52424 10.769 4.12124 10.929C5.07424 11.185 5.98224 11.545 6.78324 12.157L3.48324 15.457C2.28243 14.0268 1.58808 12.2398 1.50824 10.374ZM7.84724 13.214C8.52224 14.076 8.88724 15.02 9.14424 15.987C9.26924 16.457 9.36524 16.915 9.46224 17.379L9.54624 17.774C9.59624 18.014 9.65124 18.255 9.71124 18.495C7.81581 18.4332 5.99597 17.737 4.54324 16.518L7.84724 13.214ZM11.2402 18.41C11.1543 18.0958 11.0783 17.779 11.0122 17.46L10.9352 17.093C10.8372 16.624 10.7302 16.113 10.5942 15.601C10.2932 14.473 9.83224 13.264 8.91424 12.147L10.0002 11.061L15.4572 16.518C14.2546 17.5281 12.7943 18.1832 11.2402 18.41ZM11.0602 9.99999L12.2722 8.78899C13.3862 9.73099 14.5522 10.249 15.6372 10.615C16.0842 10.767 16.5342 10.897 16.9482 11.018C17.1072 11.064 17.2612 11.108 17.4082 11.152C17.7582 11.258 18.0792 11.36 18.3722 11.473C18.1163 12.9412 17.4766 14.3157 16.5182 15.457L11.0602 9.99999ZM17.8372 9.71499L17.3352 9.56799C16.9269 9.45231 16.5211 9.32761 16.1182 9.19399C15.1742 8.87399 14.2302 8.45399 13.3372 7.72399L16.5172 4.54299C17.7839 6.05187 18.4851 7.955 18.5002 9.92499C18.2802 9.84999 18.0572 9.78099 17.8372 9.71499ZM15.4572 3.48199L12.2762 6.66299C11.5462 5.76999 11.1252 4.82599 10.8062 3.88199C10.6722 3.47894 10.5475 3.07283 10.4322 2.66399V2.66299C10.3822 2.49699 10.3352 2.33099 10.2842 2.16299C10.2182 1.94299 10.1502 1.71999 10.0752 1.49999C12.0451 1.51485 13.9482 2.2157 15.4572 3.48199ZM9.38424 4.36199C9.75124 5.44699 10.2682 6.61399 11.2112 7.72799L10.0002 8.93999L4.54324 3.48199C5.68458 2.52359 7.05902 1.88397 8.52724 1.62799C8.64024 1.92099 8.74224 2.24099 8.84724 2.59199L8.98224 3.05199C9.10224 3.46599 9.23224 3.91499 9.38424 4.36199Z" fill="#525252")

mixin clothing-shoes-and-accessories
  svg.clothing-shoes-and-accessories(width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M4.5 17.5H1V7.5C1 6 2 4.25 3.5 3C5 1.75 8 1 8 1H14C14 1 17 1.75 18.5 3C20 4.25 21 6 21 7.5V17.5H17.5" stroke="#525252" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    path(d="M17.5 7.5V17.5V21H4.5V17.5V7.5" stroke="#525252" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    path(d="M14 1C14 2.65685 12.6568 4 11 4C9.34315 4 8 2.65685 8 1" stroke="#525252" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

mixin products-for-animals
  svg.products-for-animals(width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M11.28 7.0801C12.84 7.0801 13.8 4.8001 13.8 3.3601C13.8 2.1601 13.2 0.720098 12 0.720098C10.44 0.720098 9.47996 3.0001 9.47996 4.4401C9.47996 5.6401 10.08 7.0801 11.28 7.0801ZM6.71996 7.0801C7.91996 7.0801 8.51996 5.6401 8.51996 4.4401C8.51996 2.8801 7.55996 0.600098 5.99996 0.600098C4.79996 0.600098 4.19996 2.0401 4.19996 3.2401C4.07996 4.8001 5.03996 7.0801 6.71996 7.0801ZM15.6 5.8801C14.04 5.8801 12.96 8.0401 12.96 9.6001C12.96 10.6801 13.44 11.7601 14.52 11.7601C16.08 11.7601 17.16 9.6001 17.16 8.0401C17.16 6.9601 16.56 5.8801 15.6 5.8801ZM5.15996 9.6001C5.15996 8.0401 3.95996 5.8801 2.51996 5.8801C1.43996 5.8801 0.959961 6.9601 0.959961 8.0401C0.959961 9.6001 2.15996 11.7601 3.59996 11.7601C4.67996 11.7601 5.15996 10.6801 5.15996 9.6001ZM8.99996 9.3601C6.59996 9.3601 3.35996 13.2001 3.35996 15.8401C3.35996 17.0401 4.19996 17.4001 5.15996 17.4001C6.59996 17.4001 7.67996 16.4401 8.99996 16.4401C10.2 16.4401 11.28 17.4001 12.6 17.4001C13.56 17.4001 14.64 17.1601 14.64 15.8401C14.64 13.2001 11.4 9.3601 8.99996 9.3601Z" fill="#525252")

mixin products-telemarketing
  svg.products-telemarketing(width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M18 3.99997H12.414L14.707 1.70697L13.293 0.292969L10 3.58597L6.707 0.292969L5.293 1.70697L7.586 3.99997H2C0.897 3.99997 0 4.89697 0 5.99997V17C0 18.103 0.897 19 2 19H18C19.103 19 20 18.103 20 17V5.99997C20 4.89697 19.103 3.99997 18 3.99997ZM2 17V5.99997H18L18.002 17H2Z" fill="#525252")

mixin products-for-children
  svg.products-for-children(width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M12.1579 0V8.8H21C21 3.938 17.0432 0 12.1579 0ZM14.3684 6.6V2.574C16.2474 3.234 17.7395 4.719 18.4137 6.6H14.3684ZM4.90737 9.9L3.85737 7.7H0V9.9H2.45368C2.45368 9.9 4.54263 14.377 4.79684 14.762C3.58105 15.411 2.76316 16.687 2.76316 18.15C2.76316 20.273 4.49842 22 6.63158 22C8.57684 22 10.1905 20.57 10.4558 18.7H12.7547C13.02 20.57 14.6337 22 16.5789 22C18.7121 22 20.4474 20.273 20.4474 18.15C20.4474 17.006 19.9389 15.983 19.1432 15.279C20.3472 13.7421 21.0007 11.8489 21 9.9H4.90737ZM6.63158 19.8C5.71421 19.8 4.97368 19.063 4.97368 18.15C4.97368 17.237 5.71421 16.5 6.63158 16.5C7.54895 16.5 8.28947 17.237 8.28947 18.15C8.28947 19.063 7.54895 19.8 6.63158 19.8ZM16.5789 19.8C15.6616 19.8 14.9211 19.063 14.9211 18.15C14.9211 17.237 15.6616 16.5 16.5789 16.5C17.4963 16.5 18.2368 17.237 18.2368 18.15C18.2368 19.063 17.4963 19.8 16.5789 19.8ZM17.3968 13.926L17.0763 14.333C16.2667 14.2298 15.4449 14.3837 14.7284 14.7729C14.0119 15.162 13.4372 15.7665 13.0863 16.5H10.1242C9.57158 15.356 8.46632 14.52 7.1621 14.333L6.67579 13.596C6.56526 13.409 6.3 12.837 5.93526 12.1H18.4137C18.1816 12.749 17.8389 13.365 17.3968 13.926Z" fill="#525252")

mixin beauty-and-health
  svg.beauty-and-health(width="17" height="24" viewBox="0 0 17 24" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M14.6947 3.1987H11.3582C10.7554 3.20062 10.7779 4.09918 11.3582 4.0939H14.6947V4.55326H11.3582C10.7587 4.54798 10.7808 5.44606 11.3582 5.44846H14.6947V5.9179H11.3582C10.7587 5.9179 10.7808 6.8155 11.3582 6.8131H14.6947V7.26046H11.3582C10.7712 7.26478 10.7808 8.16334 11.3582 8.16622H14.6947V8.61454H11.3582C10.7712 8.61262 10.7688 9.50974 11.3582 9.50974H14.6947V9.9571H11.3582C10.7712 9.95902 10.7688 10.8571 11.3582 10.8528H14.6947V11.3112H11.3582C10.7712 11.3059 10.7688 12.203 11.3582 12.2064H14.6947V12.6528H11.3582C10.7712 12.6523 10.7808 13.5513 11.3582 13.5485H14.6947V22.2648C14.6966 23.5929 16.7141 23.5689 16.7198 22.2648V1.86718C16.7141 1.26046 16.2158 0.49342 15.396 0.49102H11.3582C10.7554 0.4915 10.7779 1.39006 11.3582 1.38622L14.6947 1.39726V1.84366H11.3582C10.7563 1.84078 10.7789 2.73886 11.3582 2.73934H14.6947V3.1987ZM11.1288 18.6518C11.1269 17.1014 9.51984 15.4339 7.59984 16.5139V10.584L6.35808 0.80398C6.33216 0.54526 6.1128 0.4843 5.96544 0.47998C5.81328 0.4843 5.50848 0.54526 5.47536 0.80398L4.23984 10.584V16.5139C2.31984 15.4339 0.76464 17.112 0.76416 18.6398C0.76464 19.9992 1.81104 21.1157 3.22704 21.1123C4.6536 21.1157 5.67984 19.8643 5.67984 18.6398V12.48H6.15984V18.6398C6.15984 20.0107 7.2216 21.0254 8.40144 21.0897C8.38176 21.8414 8.62704 22.9137 9.0888 23.339C9.63024 23.8382 10.2749 23.1998 10.0104 22.68C9.75504 22.1961 9.50448 21.9096 9.708 20.8531C10.5586 20.4595 11.1269 19.631 11.1288 18.6518ZM3.28176 19.8715C2.95809 19.8715 2.64768 19.7429 2.41881 19.5141C2.18994 19.2852 2.06136 18.9748 2.06136 18.6511C2.06136 18.3274 2.18994 18.017 2.41881 17.7881C2.64768 17.5593 2.95809 17.4307 3.28176 17.4307C3.94704 17.4345 4.48896 17.9803 4.49376 18.6518C4.49239 18.9736 4.3645 19.2818 4.13772 19.51C3.91094 19.7383 3.60348 19.8681 3.28176 19.8715ZM7.39584 18.6518C7.39696 18.3298 7.52479 18.0212 7.75169 17.7926C7.97858 17.5641 8.28631 17.4341 8.60832 17.4307C8.93044 17.4336 9.23841 17.5635 9.46534 17.7921C9.69227 18.0208 9.81983 18.3297 9.82032 18.6518C9.81982 18.9738 9.69222 19.2826 9.46525 19.511C9.23828 19.7394 8.93031 19.869 8.60832 19.8715C8.2864 19.8686 7.9786 19.7389 7.75164 19.5106C7.52467 19.2823 7.39684 18.9737 7.39584 18.6518Z" fill="#525252")

mixin packaging
  svg.packaging(width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M9.029 1.5401C9.32605 1.37514 9.66022 1.28857 10 1.28857C10.3398 1.28857 10.674 1.37514 10.971 1.5401L18.486 5.7141C18.6418 5.80074 18.7716 5.92746 18.862 6.08113C18.9524 6.23479 19 6.40983 19 6.5881V14.8231C18.9999 15.1797 18.9045 15.5299 18.7235 15.8372C18.5426 16.1446 18.2828 16.3979 17.971 16.5711L10.971 20.4611C10.674 20.6261 10.3398 20.7126 10 20.7126C9.66022 20.7126 9.32605 20.6261 9.029 20.4611L2.029 16.5711C1.71736 16.398 1.45763 16.1448 1.27671 15.8377C1.0958 15.5305 1.00026 15.1806 1 14.8241V6.5881C0.999993 6.40983 1.04764 6.23479 1.13802 6.08113C1.22839 5.92746 1.3582 5.80074 1.514 5.7141L9.03 1.5401H9.029Z" stroke="#525252" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    path(d="M10 11V21M1 6L10 11L1 6ZM10 11L19 6L10 11Z" stroke="#525252" stroke-width="2" stroke-linejoin="round")
    path(d="M4 11.328L7 13M5.5 8.5L14.5 3.5L5.5 8.5Z" stroke="#525252" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

mixin goods-for-home-and-cottages
  svg.goods-for-home-and-cottages(width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M8.5 16.0499L7.43 14.9999L20.07 2.34993L18.66 0.929932L6 13.5799L4.95 12.4999C4.17 11.7299 2.9 11.7299 2.12 12.4999L0 14.6399L0.71 15.3399L2.83 13.2199L3.54 13.9299L1.41 16.0499L2.12 16.7599L4.24 14.6399L4.95 15.3399L2.83 17.4599L3.54 18.1699L5.66 16.0499L6.36 16.7599L4.24 18.8799L4.95 19.5899L7.07 17.4599L7.78 18.1699L5.66 20.2899L6.36 20.9999L8.5 18.8799C9.27 18.0999 9.27 16.8299 8.5 16.0499Z" fill="#525252")

mixin goods-for-holidays
  svg.goods-for-holidays(width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M17.0002 8.3099C16.6402 7.8999 16.2702 7.4899 15.8802 7.0999L15.5902 6.8299L15.7302 6.7099C16.2192 6.29011 16.5677 5.73042 16.7286 5.10634C16.8896 4.48226 16.8552 3.82384 16.6302 3.2199C16.3041 2.53888 15.7878 1.96684 15.1436 1.57289C14.4994 1.17894 13.755 0.979928 13.0002 0.999904V2.9999C13.356 2.99495 13.7066 3.08501 14.016 3.2608C14.3254 3.43658 14.5823 3.69172 14.7602 3.9999C14.9302 4.3999 14.7602 4.8399 14.2902 5.3099C14.2202 5.3899 14.1402 5.4399 14.0702 5.5099C11.0702 3.0999 7.78017 1.7399 6.17017 3.3499C6.00152 3.5223 5.86294 3.72173 5.76017 3.9399V4.0399L5.58016 4.5699L1.17017 17.6699C1.00336 18.1636 0.956562 18.6899 1.03366 19.2052C1.11076 19.7206 1.30953 20.2101 1.61351 20.6333C1.91749 21.0566 2.31793 21.4013 2.78167 21.6389C3.2454 21.8766 3.75908 22.0003 4.28017 21.9999C4.6204 21.9966 4.95795 21.9392 5.28017 21.8299L19.0002 17.2799C19.1688 17.2171 19.3173 17.11 19.4302 16.9699L19.6402 16.7899C21.0702 15.3499 20.1502 12.5799 18.2302 9.8899C19.3702 9.22456 20.6829 8.91466 22.0002 8.9999V6.9999C20.2375 6.90292 18.4888 7.36108 17.0002 8.3099ZM4.70016 19.9299C4.47317 20.005 4.22976 20.0156 3.99712 19.9604C3.76447 19.9052 3.55173 19.7865 3.38266 19.6174C3.21359 19.4483 3.09483 19.2356 3.03965 19.003C2.98447 18.7703 2.99504 18.5269 3.07017 18.2999L4.43016 14.1999C5.40075 16.0508 6.89212 17.5769 8.72017 18.5899L4.70016 19.9299ZM11.7002 17.5999C10.1889 17.1997 8.81025 16.4071 7.7039 15.3025C6.59755 14.1979 5.8028 12.8205 5.40017 11.3099L6.40017 8.3099L6.46017 8.3999C6.57017 8.6199 6.71017 8.8499 6.85016 9.0799C6.99016 9.3099 7.01016 9.3699 7.11016 9.5199C7.21016 9.6699 7.44017 9.9999 7.62016 10.2499C7.80016 10.4999 7.81016 10.5299 7.92017 10.6699C8.03017 10.8099 8.35016 11.2199 8.58016 11.4899L8.87016 11.8399C9.21017 12.2299 9.57016 12.6099 9.95016 12.9999C10.3302 13.3899 10.6302 13.6399 10.9502 13.9999L11.2802 14.2799L12.0602 14.9099L12.4302 15.1899C12.7102 15.3899 12.9802 15.5899 13.2602 15.7699L13.5702 15.9699C13.9302 16.1899 14.2902 16.3999 14.6402 16.5799H14.6902L11.7002 17.5999ZM18.2102 15.3699H18.1502C17.4602 15.7499 14.5902 14.7999 11.3602 11.5599C11.0202 11.2199 10.7002 10.8899 10.4102 10.5599L10.1202 10.2099L9.59017 9.5699L9.30017 9.1699C9.17017 8.9799 9.03016 8.7999 8.91016 8.6199L8.65016 8.1999L8.36016 7.7299C8.28016 7.5899 8.22016 7.4599 8.15016 7.3299C8.08016 7.1999 8.00016 7.0699 7.94016 6.9299C7.88653 6.81273 7.83978 6.69253 7.80017 6.5699C7.75016 6.4399 7.69016 6.3099 7.65016 6.1899C7.61016 6.0699 7.60016 5.9999 7.57016 5.8799C7.54016 5.7599 7.52016 5.6599 7.50016 5.5599C7.49518 5.47331 7.49518 5.3865 7.50016 5.2999C7.49053 5.22019 7.49053 5.13961 7.50016 5.0599L7.61016 4.7499C7.97016 4.3899 9.84017 4.7499 12.3402 6.6499C11.9164 6.84117 11.4633 6.9595 11.0002 6.9999V8.9999C12.0624 8.9388 13.093 8.61588 14.0002 8.0599L14.4802 8.5199C14.9002 8.9399 15.2902 9.3699 15.6602 9.7999C15.0877 10.835 14.8766 12.0314 15.0602 13.1999L17.0602 12.8099C17.0012 12.4389 17.0012 12.0609 17.0602 11.6899C17.3654 12.1527 17.6361 12.6374 17.8702 13.1399C18.4302 14.4599 18.3902 15.1999 18.2102 15.3699Z" fill="#525252")

mixin electronics
  svg.electronics(width="16" height="22" viewBox="0 0 16 22" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M13 1H3C1.89543 1 1 1.89543 1 3V19C1 20.1046 1.89543 21 3 21H13C14.1046 21 15 20.1046 15 19V3C15 1.89543 14.1046 1 13 1Z" stroke="#525252" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    path(d="M8 17H8.01" stroke="#525252" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

mixin cosmetic
  svg.cosmetic(width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M1.5 15H8.5M12.5 11H18.5V21H12.5V11ZM1.5 11H8.5V21H1.5V11ZM3 4.727V11H7V1C3.75 1 3 3.818 3 4.727Z" stroke="#525252" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")

mixin telegram
  svg.telegram(width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M19 0.602225L15.9946 16.2923C15.9946 16.2923 15.5741 17.3801 14.4189 16.8584L7.48458 11.3526L7.45242 11.3364C8.38909 10.4654 15.6524 3.70266 15.9698 3.39612C16.4613 2.92136 16.1562 2.63873 15.5856 2.99736L4.85679 10.053L0.717638 8.61077C0.717638 8.61077 0.0662573 8.37083 0.00359284 7.84911C-0.0598962 7.32653 0.739076 7.0439 0.739076 7.0439L17.6131 0.188948C17.6131 0.188948 19 -0.44207 19 0.602225Z" fill="#282828")

mixin whatsapp
  svg.whatsapp(width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M10.7561 2.23752C9.57073 1.05627 7.99024 0.400024 6.32195 0.400024C2.85366 0.400024 0.0439018 3.20002 0.0439018 6.65627C0.0439018 7.75002 0.351219 8.84377 0.878049 9.76252L0 13L3.33659 12.125C4.25854 12.6063 5.26829 12.8688 6.32195 12.8688C9.79024 12.8688 12.6 10.0688 12.6 6.61252C12.5561 4.99377 11.9415 3.41877 10.7561 2.23752ZM9.35122 8.88752C9.21951 9.23752 8.60488 9.58752 8.29756 9.63127C8.03415 9.67502 7.68293 9.67502 7.33171 9.58753C7.1122 9.50002 6.80488 9.41253 6.45366 9.23752C4.87317 8.58127 3.86342 7.00627 3.77561 6.87502C3.68781 6.78752 3.11707 6.04377 3.11707 5.25627C3.11707 4.46877 3.51219 4.11877 3.6439 3.94377C3.77561 3.76877 3.95122 3.76877 4.08293 3.76877C4.17073 3.76877 4.30244 3.76877 4.39024 3.76877C4.47805 3.76877 4.60976 3.72502 4.74146 4.03127C4.87317 4.33752 5.18049 5.12502 5.22439 5.16877C5.26829 5.25627 5.26829 5.34377 5.22439 5.43127C5.18049 5.51877 5.13658 5.60627 5.04878 5.69377C4.96097 5.78127 4.87317 5.91252 4.82927 5.95627C4.74146 6.04377 4.65366 6.13127 4.74146 6.26252C4.82927 6.43752 5.13659 6.91877 5.61951 7.35627C6.23415 7.88127 6.71707 8.05628 6.89268 8.14378C7.06829 8.23128 7.1561 8.18752 7.2439 8.10002C7.33171 8.01252 7.63903 7.66253 7.72683 7.48753C7.81464 7.31253 7.94634 7.35628 8.07805 7.40002C8.20975 7.44377 9 7.83753 9.13171 7.92503C9.30732 8.01253 9.39512 8.05627 9.43902 8.10002C9.48293 8.23127 9.48293 8.53752 9.35122 8.88752Z" fill="#282828")

mixin sign-in
  svg.sign-in(width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M14.6668 14.3333V16H1.3335V14.3333C1.3335 13.4493 1.68469 12.6014 2.30981 11.9763C2.93493 11.3512 3.78277 11 4.66683 11H11.3335C12.2176 11 13.0654 11.3512 13.6905 11.9763C14.3156 12.6014 14.6668 13.4493 14.6668 14.3333Z" stroke="#282828" stroke-width="1.43015" stroke-linecap="round" stroke-linejoin="round")
    path(d="M8.00033 7.66667C9.84128 7.66667 11.3337 6.17428 11.3337 4.33333C11.3337 2.49238 9.84128 1 8.00033 1C6.15938 1 4.66699 2.49238 4.66699 4.33333C4.66699 6.17428 6.15938 7.66667 8.00033 7.66667Z" stroke="#282828" stroke-width="1.43015" stroke-linecap="round" stroke-linejoin="round")

mixin favourites
  svg.favourites(width="20" height="17" viewBox="0 0 20 17" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M15.8794 1.34763C16.4356 1.5781 16.941 1.91589 17.3666 2.34172C17.7924 2.76735 18.1302 3.27271 18.3607 3.82893C18.5912 4.38514 18.7098 4.98132 18.7098 5.58339C18.7098 6.18546 18.5912 6.78164 18.3607 7.33785C18.1302 7.89407 17.7924 8.39943 17.3666 8.82506L16.4833 9.70839L9.99994 16.1917L3.5166 9.70839L2.63327 8.82506C1.77353 7.96531 1.29053 6.79925 1.29053 5.58339C1.29053 4.36753 1.77353 3.20147 2.63327 2.34172C3.49301 1.48198 4.65908 0.998981 5.87494 0.998981C7.0908 0.998981 8.25686 1.48198 9.1166 2.34172L9.99994 3.22506L10.8833 2.34172C11.3089 1.91589 11.8143 1.5781 12.3705 1.34763C12.9267 1.11716 13.5229 0.998535 14.1249 0.998535C14.727 0.998535 15.3232 1.11716 15.8794 1.34763Z" stroke="#282828" stroke-width="1.43" stroke-linecap="round" stroke-linejoin="round")

mixin basket
  svg.basket(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M7.50033 18.8334C7.96056 18.8334 8.33366 18.4603 8.33366 18.0001C8.33366 17.5398 7.96056 17.1667 7.50033 17.1667C7.04009 17.1667 6.66699 17.5398 6.66699 18.0001C6.66699 18.4603 7.04009 18.8334 7.50033 18.8334Z" stroke="#282828" stroke-width="1.43015" stroke-linecap="round" stroke-linejoin="round")
    path(d="M16.6668 18.8334C17.1271 18.8334 17.5002 18.4603 17.5002 18.0001C17.5002 17.5398 17.1271 17.1667 16.6668 17.1667C16.2066 17.1667 15.8335 17.5398 15.8335 18.0001C15.8335 18.4603 16.2066 18.8334 16.6668 18.8334Z" fill="#282828" stroke="#282828" stroke-width="1.43015" stroke-linecap="round" stroke-linejoin="round")
    path(d="M0.833496 1.33325H4.16683L6.40016 12.4916C6.47637 12.8752 6.68509 13.2199 6.98978 13.4652C7.29448 13.7104 7.67574 13.8407 8.06683 13.8333H16.1668C16.5579 13.8407 16.9392 13.7104 17.2439 13.4652C17.5486 13.2199 17.7573 12.8752 17.8335 12.4916L19.1668 5.49992H5.00016" stroke="#282828" stroke-width="1.43015" stroke-linecap="round" stroke-linejoin="round")
























