include ../../templates/mixins/icons/header
include ../../templates/mixins/icons/general
include ../../templates/mixins/icons/product-catalog-slider
include ../../templates/mixins/icons/footer

include ../../templates/mixins/components/button/button


